<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>北京保洁公司【易杰雨露】提供地毯地面清洗|开荒保洁|擦玻璃|石材翻新|外墙清洗|地板打蜡保洁价格及服务</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<!-- Bootstrap core CSS -->
    	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom fonts for this template -->
		<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href="styles/site/clean-blog.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		 <!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand" href="index.html">欢迎来到北京易杰雨露保洁服务公司</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				菜单
				<i class="fa fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
					<a class="nav-link" href="index.html">首页</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="about.html">关于</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="post.html">案例</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="contact.html">联系我们</a>
					</li>
				</ul>
				</div>
			</div>
		</nav>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<!-- Footer -->
		<footer>
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
				<p class="copyright text-muted">咨询电话：010-89754131 手机：13581862056 地址：北京市昌丰台区银地家园8号楼2层237</p>
				<p class="copyright text-muted">Copyright &copy; 北京易杰雨露保洁服务公司 2018 | 备案号：京ICP备18003014号</p>
				</div>
			</div>
			</div>
		</footer>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		{{!-- <script src="/js/jquery/jquery-1.11.3.min.js"></script> --}}
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		{{!-- <script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script> --}}
		<!-- Bootstrap core JavaScript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Custom scripts for this template -->
		<script src="js/clean-blog.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
